.dailyVerseModal{
  //height: 2000px;
}

.close_icon_daily_verse{
  position: absolute;
  top:10px;
  right: 10px;
}

.dateTime_daily_verse{
  position: absolute;
  top: 95px;
  right: 10px;
  font-size: 14px;
}

.time_daily_verse{
  margin-left: 15px;
}