.customerServiceCloseIcon{
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.customerServiceModalContainer{
  // position: absolute;
  //top:-800px
}

.customerServiceModalHeader{
  font-size: 23px;
}

.cancel_button_customer_service{
  margin-right: 15px !important;
  cursor: pointer;
}