.customerServiceCloseIcon{
  cursor: pointer;
  margin-left: 20px;
  vertical-align: middle;
}

.customerServiceModalContainer{
  // position: absolute;
  //top:-800px
}

.customerServiceModalHeader{
  font-size: 23px;
}