.close_view_lyric_button{
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.back_button{
  color: red !important;
  border: 1px solid red !important;
}

.back_arrow_view_lyric{
  margin-right: 7px;
}

.view_lyric_modal_body{
  margin-top: 15px;
  margin-bottom: 20px;
  height: 350px;
  overflow: scroll;
}

.view_lyric_modal{
  -moz-user-select:none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}