.DashboardHeading{
  text-align: left;
  margin-top: 13px;
  margin-bottom: 20px;
}

.Heading_text{
  margin-left: 5px;
  font-size: 18px;
}

.MainLogo{
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  vertical-align: middle;  //keeping picture vertically align center
  border-radius: 20px;
}

.input_dashboard{
  width: 120px;
  height: 21px;
  //border: 2px solid black;
  border-radius: 4px;
  //float: right;
  margin-right: 5px;
  background: #f6f8f6;
  font-size: 12px;
  position: absolute;
  right: 0px;
  top:23px;
}

.viewLyricButton{
  cursor: pointer;
  //margin-top: 25px;    //keeping text in card vertically align
  height: 20px;
  width: 40px;
  font-size: 9px;
  position: absolute;
  left: 210px;
  top: 15px;
  background: skyblue;
  color: white;
  border: none;
}

.songTitles{      //-----> overall div for songs and view button
  margin-left: 10px; //box shadow control
  font-size: 14px;
  margin-right: 10px;  //box shadow control
  //margin-top: 30px;
}

.songTitle{
  width: 40%;
  //display: inline-block;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 13px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  //height: 70px;
  margin-bottom: 10px;
  margin-top: 20px;
  height: 50px !important;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.searchResults{
  position: absolute;
  //left:900px;
  right: 37px;
  font-size: 10px;
  top:50px
}

.crossSearchIcon{
  position: absolute;
  cursor: pointer;
  right: 10px;
  color: red;
  top: 25px;
}

.contactUs{
  margin-left: 3px;
  cursor: pointer;
}

.contactUsIcon{
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.contactUsModal{
  position: absolute;
  top: -100px;
}

.playButton, .pauseButton{
  //vertical-align: middle;
  //margin-left: 15px;
  cursor: pointer;
  position: absolute;
  left: 260px;
  top: 12px;
}

.youtubeButton{
  height: 20px;
  width: 20px;
  //vertical-align: middle;
  //margin-left: 15px;
  cursor: pointer;
  position: absolute;
  left: 290px;
  top: 14px;
}

